/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.navbar-inverse .navbar-brand:hover {
  color: #9d9d9d;
}
.navbar-brand > img {
  margin-top: -9px;
  height: 38px;
}
.jumbotron {
  background-color: #222323;
  width: 100%;
  height: 100%;
  position: fixed;
  color: #ddd;
}



.footer{
  position: fixed;
  width: 100%;
  bottom:40px;
}

.right-content{
  width: 320px;
  margin-top: 90px;
}

.right-content img{
  margin: 0 5px;
}



.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 992px) {
  .pull-right img{
    width: 300px;
    margin-top: -70px;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../video/bg-mobile.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }

  .pull-right{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .pull-right img{
    margin-top: 40px;
    text-align: center;
  }

    .right-content, .left-content{
      margin: 0 auto !important;
      float: none !important;
    }

    .footer{
      margin-left: -15px;
      padding-left: -15px;
    }

}